.App {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
    color: white;
    background: #004445;
    height: 12vh;
}

body {
    margin: 0px;
}
