.App {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
    color: '#cacacc';
    background: #004445;
    height: 10vh;
}

body {
    margin: 0px;
}
