.pagination {
  /* background-color: black; */
  padding: 8px;
}

.number {
  display: inline-flex;
  flex-direction: row;
  margin: 5px;
}

.numberA {
  padding: 10px 20px;
  border: solid 2px rgb(255, 255, 255);
  background-color: rgb(147, 15, 8);
  font-weight: 700;
  font-size: large;
  text-decoration: none;
  border-radius: 12px;
  color: white;
}
