
  .accordion {
    max-width: 10em;
  }
  
  .accordion-content {
    display: block;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    background-color: #e208ff;
}

.accordion-content:hover {
    background-color: #3ab4cc;
}

.accordion-title,
.accordion-content {
      padding: 2rem;
      font-size: xx-large;
  }
