@import "./variables.scss";

.bigCardContent {
    display: block;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 400px;
    border-radius: 50px;
    margin: 20px;
}

  .image {
    opacity: 1;
    display: block;
    width: 400px;
    height: 400px;
    transition: .3s ease;
    backface-visibility: hidden;
    border-radius: 50px;
  }

  .middle {
    display: block;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
  }

  .bigCardContent:hover .image {
    opacity: 0.3;
  }
  
  .bigCardContent:hover .middle {
    opacity: 1;
  }
  
.bigCardText {
    color: #222059;
    padding: 16px 32px;
}

.redo {
  border-radius: 2rem;
}