@import "./variables.scss";

.columnContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4rem;
    background-color: rgb(35, 37, 35);
    border-radius: 50px;
    font-size: x-large;
}

.divCard {
    display: flex;
    justify-content: center;
}

.rowContent {
    display: flex;
    justify-content: center;
    width: 80vh;
}