@import "./variables.scss";

.columnContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4rem;
    background-color: $color-gris;
    border-radius: 50px;
    font-size: x-large;
    color: $color-azul;
}

.divCard {
    display: flex;
    justify-content: center;
}

.rowContent {
    display: flex;
    justify-content: center;
    width: 80vh;
}