@import "./variables.scss";

.columnContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    margin: 20px;
    background-color: rebeccapurple;
    border-radius: 50px;
    font-size: x-large;
}

.divCard {
    display: flex;
    justify-content: center;
}

.rowContent {
    display: flex;
    justify-content: center;
    width: 300px;
}