@import "./variables.scss";

.columnDetailsContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    background-color: yellow;
    border: red solid 5px;
}

.columnDetailsContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: red solid 5px;
    border-radius: 50px;
}

.rowDetailsContent {
    display: flex;
    justify-content: center;
}

.cardText {
    color: $colorCardText;
}

.cardTitle {
    color: $colorCardTitle;
}
