.carousel-container {
    display: flex;
    align-items: center;
    padding: 3%;
  }

  
  .carousel-items-items {
    display: flex;
    justify-content: center;
  }

  .carousel-items-pages {
    font-size: large;
    color: lightgrey;
    display: flex;
    justify-content: center;
    padding: 1%;
  }