.epiContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: solid 1rem red;
}

.epiContent {
    display: block;
    height: 50rem;
    font-size: small;
    border: solid 1rem blue;
    margin: 12rem;
}

.epiDiv {
    width: 120rem;
    height: 120rem;
    border: solid 1rem forestgreen;
}

.epiDiv h1 {
    font-size: 15rem;
    background-color: burlywood;
}

.epiDiv ul li {
    font-size: 4rem;
}

