@import "variables.scss";

.footerElements {
  display: flex;
  align-items: center;
  justify-content: space-around;
  align-items: center;
  left: 0;
  bottom: 0;
  background-color: $color-negro;
}

.footerIcon  {
  width: 8rem;
  height: 4rem;
  padding: 1rem;
  border-radius: 1.5rem;
}
