@import "./variables.scss";

// @media (max-width: 640px) {
//   .homeContent:before {
//     display: block;
//     width: 100%;
//     background-color: aqua;
//   }
// }

// @media (min-width: 640px) and (max-width: 800px) {
//   .homeContent:after {
//     display: flex;
//     background-color: gold;
//   }
// }

.homeContent {
  display: flex;
  justify-content: space-around;
  align-self: stretch;
  padding-top: 2.3rem;
  padding-bottom: 6rem;
  width: 98vw;
}
