@import "variables.scss";

.navContainer {
    display: flex;
    justify-content: space-evenly;
    background-color: $color-negro;
    padding-right: 25px;
    padding-left: 25px;
    padding-top: 15px;
  }
  
  .navLinks {
    width: 100%;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-right: 25px;
    padding-left: 25px;
  }

  .navLinks img {
    width: 80px;
    height: 80px;
    border-radius: 40px;
    border: 2px solid $color-gris;
  }
  
  .navLink {
    margin: 10px;
    font-size: x-large;
    color: white;
    font-weight: bold;
    text-decoration: none;
    margin-left: 30px;
  }
  
  .LinklinkMakeRecipe {
    text-decoration: none;
    color: $color-blanco;
    font-size: xx-large;
    font-family: fantasy;
    font-variant: inherit;
  }
  