@import "variables.scss";

.containerSearchBar {
    display: flex;
    margin-top: 0.1rem;
}

.inputSearchBar {
    width: 100%;
    color: $color-negro;
    font-size: x-large;
    font-weight: 200;
    padding: 0.2rem;
    border-radius: 2rem;
    border-color: $color-negro;
    border-style: solid;
}

.searchContainer {
    display: flex;
    justify-content: space-evenly;
    background-color: $color-negro;
    padding-right: 2rem;
    padding-left: 2rem;
    padding-top: 6rem;
  }