@import "variables.scss";

.containerSearchBar {
    display: flex;
    margin-top: 20px;
}

.inputSearchBar {
    width: 100%;
    color: $color-negro;
    font-size: x-large;
    font-weight: 200;
    padding: 10px;
    border-radius: 12px;
    border-color: $color-negro;
    border-style: solid;
}

.searchContainer {
    display: flex;
    justify-content: space-evenly;
    background-color: $color-negro;
    padding-right: 25px;
    padding-left: 25px;
    padding-top: 15px;
  }