$color-verde: #2ca121;
$color-negro: #000000;
$color-blanco: #d2e4d5;
$color-gris: #a9a4b9;
$color-azul: #0f37a3;
$color-celeste: #470733;
$color-rojo: #a21831;
$color-rojo-oscuro: #700505;
//$color-gris: #aa8ab4;


