@import "../variables.scss";

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: $color-gris;
}

.content {
    width: 100%;
    justify-items: center;
    background-color: black;
    border-radius: 50px;
}

h1 {
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    font-weight: bold;
  }

h2 {
  text-align: center;
  font-size: 40px;
  background-color: white;
}

p {
   font-size: 20px;
}

a {
    font-size: 20px;
    text-decoration: none;
    padding: 5px;
}

.span {
  color: $color-blanco;
  font-size: x-large;
}

/* BOTON */

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    padding-left: 20px;
    padding-right: 20px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
    font-weight: 300;
    border-radius: 12px;
    margin-left: 30px;
    transition: 0.5s ease-in-out;
    background-color: $color-verde;
    color: $color-blanco;
    border: solid 3px $color-blanco;
  }
  
  .button:hover {
    color: color-negro;
    background-color: $color-negro;
    border: solid 3px $color-verde;
    box-shadow: 10px 0px 5px 6px $color-blanco, 
    5px 0px 5px 5px color-negro, 
    0px 5px 0px 10px $color-blanco, 
    5px 0px 5px 10.5px color-negro;
  }

  iframe {
    border-radius: 40px;
  }