@import "../variables.scss";

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: $color-gris;
}

.columnContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  margin: 20px;
  border: solid 5px rgb(23, 211, 54);
  font-size: large;
  width: 40%;
}

.rowContainer {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
  display: flex;
  justify-content: center;
}

/*FORM*/

.form {
  display: block;
  justify-content: center;
  align-content: center;
  width: 80%;
  border: solid 5px rgb(63, 33, 119);
  padding: 25px;
}

.inputContainer {
  margin: 12px;
}

.rowContainer input[type="text"] {
  display: inline-block;
  font-size: large;
  width: 80%;
  padding: 8px;
  border-radius: 12px;
  margin: 5px;
}

.rowContainer input[type="radio"] {
  font-size: large;
  padding: 8px;
  border-radius: 12px;
  height: 25px;
  width: 25px;
}

.rowContainer input[type="checkbox"] {
  display: flex;
  width: 80%;
  padding: 8px;
  border-radius: 12px;
  height: 25px;
  width: 25px;
}

fieldset {
  width: 200px;
  flex-wrap: wrap;
  border-radius: 12px;
}

.rowContainer label {
  font-size: large;
  padding-right: 25px;
}

.rowContainer legend {
  font-size: large;
}

select {
  display: flex;
  justify-content: center;
  text-align:center;
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: #8842d5;
  font-size: large;
}

select option {
  margin: 25px;
  font-size: large;
  padding: 12px;
}

.content {
  width: 100%;
  justify-items: center;
  background-color: black;
  border-radius: 50px;
}

h1 {
  margin: 10px;
  padding: 10px;
  display: flex;
  justify-content: center;
  font-weight: bold;
}

h2 {
  text-align: center;
  font-size: 40px;
  background-color: white;
}

p {
  font-size: 20px;
}

a {
  font-size: 20px;
  text-decoration: none;
  padding: 5px;
}

.span {
  color: $color-blanco;
  font-size: x-large;
}

/* BOTON */

.button {
  justify-content: center;
  align-items: center;
  font-size: x-large;
  padding-left: 20px;
  padding-right: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
  font-weight: 300;
  border-radius: 12px;
  transition: 0.5s ease-in-out;
  background-color: $color-verde;
  color: $color-blanco;
  border: solid 3px $color-blanco;
  margin: 10px;
}

.button:hover {
  color: color-negro;
  background-color: $color-negro;
  border: solid 3px $color-verde;
  box-shadow: 10px 0px 5px 6px $color-blanco, 5px 0px 5px 5px color-negro, 0px 5px 0px 10px $color-blanco,
    5px 0px 5px 10.5px color-negro;
}

iframe {
  border-radius: 40px;
}
