@import "../variables.scss";

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 15% 20% 60%);
  border: 1px solid rgba(255, 0, 0, 0.7);
  grid-gap: 1em;
}

.columnContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0.2rem;
  border: solid 5px rgb(208, 255, 0);
  font-size: large;
  width: 40%;
}

.rowContainer {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
  display: flex;
  justify-content: center;
}

/*FORM*/

.form {
  display: block;
  justify-content: center;
  align-content: center;
  width: 80%;
  border: solid 5px rgb(63, 33, 119);
  padding: 25px;
}

.inputContainer {
  margin: 1rem;
}

.rowContainer input[type="text"] {
  display: inline-block;
  font-size: large;
  width: 80%;
  padding: 8px;
  border-radius: 1rem;
  margin: 5px;
}

.rowContainer input[type="radio"] {
  font-size: large;
  padding: 8px;
  border-radius: 1rem;
  height: 25px;
  width: 25px;
}

.rowContainer input[type="checkbox"] {
  display: flex;
  width: 80%;
  padding: 8px;
  border-radius: 1rem;
  height: 2rem;
  width: 2rem;
}

fieldset {
  width: 10em;
  flex-wrap: wrap;
  border-radius: 1rem;
}

.rowContainer label {
  font-size: large;
  padding-right: 2rem;
}

.rowContainer legend {
  font-size: large;
}

select {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 85%;
  padding: 1rem;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: #8842d5;
  font-size: large;
}

select option {
  margin: 2rem;
  font-size: large;
  padding: 1rem;
}

.content {
  width: 100%;
  justify-items: center;
  background-color: black;
  border-radius: 50px;
}

h1 {
  margin: 1rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
  font-weight: bold;
}

h2 {
  text-align: center;
  font-size: 3rem;
}

p {
  font-size: x-large;
}

a {
  font-size: large;
  text-decoration: none;
}

.span {
  color: $color-blanco;
  font-size: x-large;
  padding-bottom: 0.5rem;
}

/* BOTON */

.button {
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  padding-left: 2em;
  padding-right: 2em;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
  border-radius: 0.7em;
  transition: 0.5s ease-in-out;
  background-color: $color-verde;
  color: $color-blanco;
  border: solid 3px $color-blanco;
  margin: 1rem;
}

.button:hover {
  color: color-negro;
  background-color: $color-negro;
  border: solid 3px $color-verde;
  box-shadow: 10px 0px 5px 6px $color-blanco, 5px 0px 5px 5px color-negro, 0px 5px 0px 10px $color-blanco,
    5px 0px 5px 10.5px color-negro;
}

.iframe {
  border-radius: 2rem;
  inset: 0px;
  display: block;
  object-fit: cover;
}

.iframe:hover {
  transform: scale(1.3);
}

.btnClose {
  display: block;
  position: relative;
  height: 2rem;
  width: 3rem;
  margin: 1%;
  text-decoration: none;
  background-color: rgb(202, 34, 34);
  color: whitesmoke;
  border: 0.3 solid rgb(1, 90, 90);
  border-radius: 0.5rem;
  font-weight: bold;
}

.btnClose:hover {
  background-color: rgb(133, 19, 19);
  color: rgb(248, 248, 248);
  border: 0.2 solid rgb(0, 0, 0);
  font-weight: bold;
}
